//Pages folder is for static pages
template(name="home")
  .row.jumbotron
    .col-lg-12
      h1 Real time weather using OpenWeather API
      p Simply choose your city and get temperature, wind speed, and more.
      h4
        a(href='/weather') Click Here to get started!